<div class="bg-container">
<div class="toolbar-container">
<mat-toolbar color="primary">
  
<div class="mat-headline title-spacer" @fade @pop>Yahya Tahoune </div>
  <div class="flex-stretch"></div>
  <div class="header-links mat-tab-link-container" @fade>
    <a href="#"><h3 class="mat-tab-link">Home</h3></a>
    <a href="#skills"><h3 class="mat-tab-link">Tools and skills</h3></a>
    <a href="#featured"><h3 class="mat-tab-link">Featured Projects </h3></a>
    <a routerLink="all-projects"><h3 class="mat-tab-link">Full Project List</h3></a>
    <a href="#contact"><h3 class="mat-tab-link">Contact</h3></a>
  </div>
  <mat-icon class="mr-8 sun" color="accent" @pop>wb_sunny</mat-icon>
  <mat-slide-toggle [formControl]="toggleControl" class="mr-8">
  </mat-slide-toggle>
  <mat-icon class="mr-8 moon" color="warn" @pop>bedtime</mat-icon>
</mat-toolbar>
</div>
<router-outlet></router-outlet>
