<header>
<mat-toolbar color="primary">
  !--Yahya Tahoune--!
  <div class="flex-stretch"></div>
  <div class="header-links">
    <a href="#">Home</a>
    <a href="#">Tools and skills</a>
    <a href="#">Featured Projects</a>
    <a routerLink="#">Full Project List</a>
    <a href="#">Contact</a>
  </div>
  <mat-icon class="mr-8 sun">wb_sunny</mat-icon>
  <mat-slide-toggle class="mr-8">
  </mat-slide-toggle>
  <mat-icon class="mr-8 moon">bedtime</mat-icon>
</mat-toolbar>
</header>
<div class="content mat-app-background">
    TEXT
</div>

<router-outlet>
</router-outlet>